<div class="card-header d-flex justify-content-between">
  <span>
    Todas as listas
  </span class="list-group">
  <%= link_to 'Nova Lista', new_todo_list_path, class:'btn btn-primary btn-sm' %>
</div>

<ul class='list-group'>
    <% @todo_lists.each do |todo_list| %>
      <li class='list-group-item'>
        <%= link_to todo_list.title, todo_list %>
       <%= link_to 'Excluir', todo_list_path(todo_list), method: :delete, class:'btn btn-danger', data: { confirm: I18n.t('are_you_sure') } %>       
      </li>
    <% end %>
</ul>
